{% extends 'base.html.twig' %}

{% block title %}Mes annonces{% endblock %}

{% block body %}
<h2 class="mt-3"><i class="fa-solid fa-list"></i> Mes annonces</h2>

<div class="d-flex justify-content-end">

    <a href="{{path('ajouter_annonces')}}" class="btn btn-sm btn-info  align-middle"><i class="fa-solid fa-plus"></i>
        Ajouter une annonce</a>
</div>

<div class="row">
    <p>Vous avez publier 30 annonces</p>

    {% for message in app.flashes('success') %}
    <div class="alert alert-warning alert-dismissible fade show my-2" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <div class="col-12 col-md-9 mt-3">
        {% if mesannonces %}
        {% for mesannonces in mesannonces %}
        <div class="card">
            <div class="card-body">
                <div class="card mb-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{asset('assets/images/annonces/'~mesannonces.image )}}" width="150px"
                                class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{mesannonces.titre}}</h5>
                                <p class="card-text">{{mesannonces.description}}</p>
                                <div class="d-flex justify-content-between">
                                    <span>{{mesannonces.nbrVus}}</span>
                                    <form action="{{path('delete_mesannonces',{id:mesannonces.id})}}" method="post"
                                        onsubmit="return confirm('Vous voulez supprimer !')">
                                        <button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></button>
                                    </form>
                                    <a href="{{path('modifier_mesannonces',{id:mesannonces.id})}}"
                                        class="btn btn-sm btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <span>{{mesannonces.utilisateur.username}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-danger">Vous avez publiez aucune annonces</p>
        {% endif %}
        <div class="navigation mt-5">
            {{ knp_pagination_render(mesannonces) }}
        </div>
    </div>

    <div class="col-12 col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="text-center">Liste des categorie</h5>
            </div>
        </div>
    </div>
</div>
{% endblock %}